<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      lang="fr"
      layout:decorate="~{layout}">
<head>
    <title>Accueil</title>
</head>
<body>
<main layout:fragment="content" class="main-content">
    <h2>Bienvenue sur Pay My Buddy</h2>
    <p th:text="'Bonjour ' + ${user.username}"></p>
    <div class="balance-card">
        <h3>Votre solde actuel</h3>
        <p th:text="${balance} + ' €'"></p>
    </div>
</main>
</body>
</html>
