<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      lang="fr">
<head>
    <meta charset="UTF-8">
    <title layout:title-pattern="$CONTENT_TITLE - Pay My Buddy">Pay My Buddy</title>
    <link rel="stylesheet"th:href="@{/css/style.css}">
</head>
<body>
<!-- Navbar commune -->
<nav class="navbar">
    <button class="logo-btn">Pay My Buddy</button>
    <ul>
        <li><a th:href="@{/home}" class="active">Home</a></li>
        <li><a href="#">Transférer</a></li>
        <li><a href="#">Profil</a></li>
        <li><a href="/relation" class="active">Ajouter relation</a></li>
        <li><a href="/logout" class="active">Se déconnecter</a></li>
    </ul>
</nav>

<!-- Zone de contenu spécifique -->
<main style="margin-top: 80px;" layout:fragment="content">
    <!-- contenu des pages -->
</main>
</body>
</html>
