<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Login - Pay My Buddy</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div class="login-container">
    <div class="header">
        <button class="logo-btn">Pay My Buddy</button>
    </div>

    <form th:action="@{/login}" method="post" class="login-form">
        <input type="email" name="email" placeholder="Mail" required>
        <input type="password" name="password" placeholder="Mot de passe" required>
        <button type="submit" class="login-btn">Se connecter</button>
        <div class="row  mx-auto my-auto">
            <p class="text-center">
                Nouveau Ici : <a th:href="@{/signup}" href="/signup">Inscription</a>
            </p>
        </div>
        <p th:if="${error}" th:text="${error}" style="color: red;"></p>
    </form>
</div>

</body>
</html>

