<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      lang="fr"
      layout:decorate="~{layout}">
<head>
    <title>Ajouter relation</title>
</head>
<body>
<main layout:fragment="content" class="main-content">
    <h2>Chercher une relation</h2>
    <form th:action="@{/relation}" method="post">
        <input type="email" name="email" placeholder="Saisir une adresse mail" required>
        <button type="submit">Ajouter</button>
    </form>
    <p class="message" th:if="${message}" th:text="${message}"></p>
</main>
</body>
</html>